.container {
    background-color: #fff;
    width: 720px;
    height: 70vh;
}
.text {
    font-size: 24px;
    color: grey;
}
.paragraph {
    font-style: italic;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 30%;
}
.btn {
    margin-top: 30%;
    margin-left: 40%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}
.btn1 {
    margin-top: 30%;
    margin-left: -0.1%;
    margin-right: 3px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}
.btn2 {
    margin-top: 30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}